@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color: darkslategray;
    margin: 0;
    padding: 0;
}

header, main{
    margin-left: 70px;
}



.sec-1{
    font-size: 50px;
    /* line-height: 20px; */
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    padding-left: 3%;
}

.link_button{
    text-decoration: none;
    background-color: #E03B8B;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 21px;
}

.half-width img{
    width: 60%;
    margin-left: 10px;
}


/*-------------
    Section-2 
 --------------*/
 .sec-2{
     text-align: center;
 }

 .fa-star{
    font-size: 12px;
}
 .fa-star.filled{
    color: #FFC014;
}

.fa-star.empty{
    color: #aeaeae;
}
 
.shift-p{
    line-height: 2px;
}

.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin-left: 20px;
    margin-right: 10px;
}

.product {
    box-shadow: 0 0 15px 5px;
    max-width: 315px;
    border-radius: 10px;
    padding: 20px;
    
}

.pink{
    margin: 20px;
    color: #E03B8B;
    display: flex;
    justify-content: right;
    align-items: center;
}

.fa-arrow-right{
    margin-left: 5px;
}

/*
-----------------------
        Section-3 
------------------------
 */

.sec-3{
    text-align: center;
    margin-bottom: 100px;
}

.link_button-2{
    text-decoration: none;
    background-color: #E03B8B;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
   
}

.center-alignment{
    justify-content: center;
    align-items: center;
}

/*
---------------------------
        Footer
---------------------------
*/
footer{
    background-color: #03203C;
    height: 200px;
    color: white;
}
.footer-h4{
    padding-top: 20px;
    color: white;
}

.center{
    text-align: center;
}

.center span{
    font-size: 2em;
}
.center span a{
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

.center p{
    font-size: 0.75em;
}

/* 
-------------------------
    Hover Effect
--------------------------
*/

.product:hover{
    border: 3px solid #E03B8B;
}


/* 
------------------------------
        Responsiveness
------------------------------
*/

@media only screen and (max-width:688px){
    .wrappper{
        width: 100%;
    }

    .image{
        width: 500px;
        margin-top: 20px;
        margin-right: 60px;
    }

    .info{
        margin-top: 200px;
        width: 100%;
        margin-right:00px;
    }
    .info p{
        width: 100%;
    }
    .products{
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media only screen and (min-width: 688px) and (max-width:992px){
    .wrapper{
        width: 100%;
    }
    .products{
        grid-template-columns: repeat(2, 1fr);
    }
    .product{
        flex-direction: column;
    }
}