@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color: darkslategray;
    margin-left: 70px;
}

.sec-1-h3{
    margin-top: 40px;
    margin-bottom: 100px;
}

.sec-1{
    font-size: 50px;
    line-height: 20px;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    padding-left: 3%;
}

.link_button{
    text-decoration: none;
    background-color: #E03B8B;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 21px;
}

.half-width img{
    width: 60%;
    margin-left: 10px;
}


/*-------------
    Section-2 
 --------------*/
 .sec-2{
     text-align: center;
 }

 .fa-star{
    font-size: 12px;
}
 .fa-star.filled{
    color: #FFC014;
}

.fa-star.empty{
    color: #aeaeae;
}
 
.shift-p{
    line-height: 2px;
}

.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin-left: 20px;
    margin-right: 10px;
}

.product {
    box-shadow: 0 0 15px 5px;
    max-width: 315px;
    border-radius: 10px;
    padding: 20px;
   
}

.pink{
    margin: 20px;
    color: #E03B8B;
    display: flex;
    justify-content: right;
    align-items: center;
}

.fa-arrow-right{
    margin-left: 5px;
}